.docs-sidebar.no-top{
    top: 0;
    height: 100%;
}

.button-action{
    position: absolute;
    z-index: 999999;
    right: 0;
    top: 10px;
}

pre {
    background-color: #f8f8f8;
    padding: 6px 10px;
    margin: 15px 0;
    word-wrap: normal;
}